<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Django Blog | {% block title %}{% endblock %}</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-light bg-white mb-5 border-bottom">
        <div class="container">
            <a href="{% url 'blog:post_list' %}" class="navbar-brand">Django Blog</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Django Blog</h5>
                    </div>
                    <div class="card-body">
                        <p>Coded by <a href="https://github.com/yusuphiqbal" target="_blank">Yusuph Iqbal</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
